* {
    font-family: sans-serif, Arial !important;
}
body {
    font-size: 18px;
}
h1 {
    font-size: 175% !important;
}
h2 {
    font-size: 150% !important;
}
h3 {
    font-size: 125% !important;
}
footer * {
    font-size: 75% !important;
}
.wy-side-nav-search a {
    font-size: 125% !important;
}
.wy-nav-content pre {
    font-size: inherit  !important;
}
.wy-nav-content table, td, tr {
    font-size: inherit !important;
}
.wy-nav-content code {
    font-size: 90% !important;
    font-family: inherit !important;
}
.wy-nav-content {
    max-width: 975px !important;
}
.wy-nav-content p {
    line-height: 2rem !important;
    font-size: inherit !important;
}
.wy-nav-content li {
    margin-top: 7px !important;
    font-size: 90% !important
}
.wy-menu .caption * {
    font-size: 18px !important;
}
.vl {
    border-left: 3px solid #A0AABF;
    padding: .66001rem 1rem 1rem;
}
